<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="shortcut icon" type="image/png" href="/favicon.png"/>
<link rel="shortcut icon" type = "img/jpg" href="../static/img/ga.jpg">
<title> Greater Anglia </title>


</head>

<body>
<header>
<img src = "../static/img/greaterAnglia.png" align = "top" alt = "Greater Anglia Logo" height = "6%"></img>
</header>
<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
	<a class = "navbar-brand" href ="homepage">Home</a>
	  <li class="nav-item">
        <a class="nav-link" href="booking_1">Buy a ticket</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="delays" tabindex="-1">Delays/Issues</a>
      </li>
    </ul>
  </div>
</nav>



<div class = "jumbotron">
<h1 class = "display-3" align = "middle">Delays: </h1>
<h3 class = "display-4" align = "middle">Got a delay to report? Want to see what's happening?</h3>
</div>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="../static/img/phone1.jpg" height = "70%" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Report an Issue</h5>
      <p class="card-text">See a delay or issue? Let us know!</p>
	  <a href = "delay_report"><button type = "button" class = "btn  btn-outline-danger"> Report </button></a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../static/img/train5.jpg" height = "70%" alt="Train Delays">
    <div class="card-body">
      <h5 class="card-title">Station Delays</h5>
      <p class="card-text">See current station delays and issues</p>
	  
  
  </form>
   <a href="delays_2"><button type="submit" class="btn btn-outline-danger">Go</button></a>
  
  </div>
   
  
</div>
